# Configuración de Base de Datos
DB_User=ferremax_user
DB_Pass=ferremax_pass

# Puerto de la aplicación
PUERTO=3000

# Configuración de Email
EMAIL_USER=tu_email@gmail.com
EMAIL_PASS=tu_contraseña_de_aplicacion

# API Keys
APiKeyopenweather=tu_api_key_openweather
APikeyCMF=tu_api_key_cmf

# Configuración de Webpay
# Para desarrollo usar: DEVELOPMENT
# Para producción usar: PRODUCTION
WEBPAY_ENVIRONMENT=DEVELOPMENT
WEBPAY_COMMERCE_CODE=597055555532
WEBPAY_API_KEY=579B532A7440BB0C9079DED94D31EA1615BACEB56610332264630D42D0A36B1C 