<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../modulos/head.ejs'); %>
    <title>Ferremax</title>

</head>
<body>




    
    


      <%-include('../modulos/carrito.ejs');%>

      
      <%- include('../modulos/modales.ejs');%>
      <%- include('../modulos/scripts.ejs');%>

      
    
</body>
</html>