<div class="modal" id="masInfo" tabindex="-1" aria-labelledby="masInfoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 id="modalTitulo" class="modal-title"></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>


          <div id="contenedorMasInfo">

            
              <div id="editarModalContent" class="modal-body">
                <div class="form-group">
                  <label for="stockWebProducto"  id="stockWebProducto">Stock Web: </label>
                  
                </div>
                <div class="form-group">
                  <label for="stockCentralProducto"  id="stockCentralProducto">Stock Sucursal Central: </label>
                  
                </div>
                <div class="form-group">
                  <label for="stockNorteProducto" id="stockNorteProducto">Stock Sucursal Norte: </label>
                </div>
                <div class="form-group">
                  <label for="stockCentroProducto" id="stockCentroProducto">Stock Sucursal Sur: </label>
                  
                </div>
                <div class="form-group">
                  <span><a href="/tiendas">Click aquí </a> para conocer nuestras diferentes sucursales!</span>
                  
                </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              </div>

          </div>

          
          


      </div>
  </div>
</div>





  



  